fastapi
python-multipart
uvicorn
gunicorn
pydantic
pydantic_settings
python-dotenv
pytz
langchain
langchain-aws
langchain-cohere
langchain-google-genai
langchain-qdrant
langchain-docling
langchain-tavily
pymupdf
docx2txt
redis
qdrant-client
tavily-python
boto3
langfuse