fastapi
python-multipart
uvicorn
gunicorn
pydantic
pydantic_settings
python-dotenv
pytz
langchain
langchain-cohere
langchain-google-genai
chromadb
pymupdf
docx2txt
langchain-chroma
langchain-qdrant
redis
qdrant-client